/*
 SEMANA 12
 GRUPO: SCOMA116
 CARRERA: SISTEMAS COMPUTACIONALES
 */

/* ==========================================
   PALETA DE COLORES
========================================== */

:root {
    --color-fondo: #000000;
    --color-navbar: #1B1B1B;
    --color-blanco: #F8F8F8;
    --color-gris: #D8D8D8;
    --color-rosa: #FF4F9A;
    --color-rosa-claro: #FF77B5;
}

/* ==========================================
   ESTILO GLOBAL
========================================== */

body {
    background-color: #000000;
    color: #F8F8F8;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* ==========================================
   BARRA DE NAVEGACIÓN
========================================== */

.navbar {
    background-color: #1B1B1B !important;
    border-bottom: 2px solid #FF4F9A;
}

.navbar-brand {
    color: #F8F8F8 !important;
    font-weight: bold;
}

    .navbar-brand:hover {
        color: #FF4F9A !important;
    }

.nav-link {
    color: #D8D8D8 !important;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #FF4F9A !important;
    }

    .nav-link:focus {
        color: #FF77B5 !important;
    }


/* ==========================================
   BOTONES
========================================== */

button,
input[type="submit"],
input[type="button"] {
    background-color: var(--color-rosa);
    color: var(--color-blanco);
    border: none;
    border-radius: 8px;
    padding: 10px 22px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease;
}

    button:hover,
    input[type="submit"]:hover,
    input[type="button"]:hover {
        background-color: var(--color-rosa-claro);
        transform: translateY(-2px);
        box-shadow: 0 0 12px rgba(255,79,154,.45);
    }

    button:active,
    input[type="submit"]:active,
    input[type="button"]:active {
        transform: scale(.97);
    }

    button:disabled,
    input[type="submit"]:disabled,
    input[type="button"]:disabled {
        background-color: #555555;
        color: #BBBBBB;
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
        opacity: .65;
    }
/*
=========================================================
PROYECTO: Fit Rutinas

VERSIÓN: 1.0
ESTADO: Versión Final (MVP)
FECHA: 27 y 29 de julio de 2026
CARRERA: Sistemas Compuacionales
GRUPO: SCOMA116

Erik Alexander Aguilar Reyes
Adhara Paola Bass Salazar
Fernanda Roberta Flores Garduño
Joseph Mauricio Mondragón Moreno

Esta versión corresponde a la entrega final del sistema.
=========================================================
 */
